# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
.env

# Alembic
alembic/__pycache__/
alembic/versions/__pycache__/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
